<%= form_for picture, url: pictures_path, html: { multipart: true } do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form.label "Upload Image" %>
  <%= form.file_field :avatar %>
  <%#= form.label :distance %>
  <%#= form.text_field :distance %>
<br />
  <%= form.label :attraction %>
  <%= form.text_field :attraction %>
<br />

  <%= form.label :country %>
  <%= form.text_field :country %>

<br />

  <%= form.label :travel_information %>
  <%= form.text_area :travel_information, size: "31x4" %>  

  <br />
  <%= form.submit "Submit" %>
<% end %>